{% extends "app.html" %}
{% load static %}
{% block content %}

<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link text-dark fw-bold" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-custom text-white fw-bold" aria-current="page" href="/create_post/">Create Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#ask-question">Asking Question</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark fw-bold" href="notification.html">Notification</a>
    </li>
</ul>
<div class="create-post-panel">
    <div class="create-post-header">
        <div class="card-profile">
            <div class="card-profile-pic">
                <img src="{% static 'images/profile-1.jpg' %}" class="img-fluid" alt="profile-1">
            </div>
            <div class="card-profile-fact">
                <b>Phyoe Htet Kyaw</b>
            </div>
        </div>
    </div>
    <div class="create-post-form mt-3">
        <form action="/upload_post/" method="post">
            {% csrf_token %}
            <textarea name="post" id="summernote" cols="30" rows="10" placeholder="What's on your mind" class="form-control form-control-sm"></textarea>
            <button type="submit" class="btn bg-custom text-white mt-3"><i class="fa fa-paper-plane"></i> Submit</button>
        </form>
    </div>
</div>

{% endblock %}