{% extends "app.html" %}
{% load static %}
{% load extra %}
{% block content %}

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link text-dark fw-bold" aria-current="page" href="/">Oval Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="#">Asking Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-custom text-white fw-bold" href="/talent/">Talent</a>
        </li>
    </ul>
    <div class="panel-2">
        <div class="create-post-panel">
            <div class="create-post-form mt-3">
                <form action="/upload_post/" method="post">
                    {% csrf_token %}
                    <textarea name="post" id="summernote" cols="30" rows="10" placeholder="What's on your mind" class="form-control form-control-sm"></textarea>
                    <button type="submit" class="btn btn-sm bg-custom text-white mt-3"><i class="fa fa-paper-plane"></i> Submit</button>
                </form>
            </div>
        </div>
        <hr>
        {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <a href="/profile/{{ post.6|encrypt_email }}/" class="custom-link">
                    <div class="card-profile">
                        <div class="card-profile-pic">
                            <div class="profile-pic-style" style="background-image: url(data:image/png;base64,{{ post.5 }});"></div>
                        </div>
                        <div class="card-profile-fact">
                            <b class="text-dark">{{ post.4 }}</b>
                            <span class="text-muted uploaded-time">Updated at 10mins ago</span>
                        </div>
                    </div>
                </a>
                <div class="card-para mt-3">
                    {{ post.1 | safe }}
                </div>
                <div class="card-like">
                    <span><i class="fa fa-thumbs-up"></i> 1.1k Likes</span> &nbsp;
                    <span><i class="fa fa-comments"></i> 1.1k Comments</span>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

{% endblock %}

