{% load static %}
<div class="panel-1 text-white">
    <h3>Profile</h3>
    <ul>
        <li>
            <a href="profile.html" class="text-white">
                <div class="profile-img">
                    <img src="{% static 'images/profile-1.jpg' %}" class="img-fluid" alt="profile-1">
                </div>
                <span>Phyoe Htet Kyaw</span>
            </a>
        </li>
    </ul>
    <hr>
    <h3>Universities</h3>
    <ul>
        <li>
            <i class="fa fa-university"></i>
            <span>Yangon University</span>
        </li>
        <li>
            <i class="fa fa-university"></i>
            <span>Dagon University</span>
        </li>
        <li>
            <i class="fa fa-university"></i>
            <span>Yangon University of Foreign Language University</span>
        </li>
        <li>
            <i class="fa fa-university"></i>
            <span>Yangon University of Economic</span>
        </li>
        <li>
            <a href="#" class="text-white">
                <i class="fa fa-list"></i>
                <span>See More</span>
            </a>
        </li>
    </ul>
    <hr>
    <h3>Categories</h3>
    <ul>
        <li>
            <i class="fa fa-newspaper"></i>
            <span>New Feed</span>
        </li>
        <li>
            <i class="fa fa-running"></i>
            <span>Activity</span>
        </li>
        <li>
            <i class="fa fa-graduation-cap"></i>
            <span>Scholar</span>
        </li>
        <li>
            <i class="fa fa-blog"></i>
            <span>Blog</span>
        </li>
        <li>
            <i class="fa fa-question"></i>
            <span>Consultant</span>
        </li>
        <li>
            <a href="#" class="text-white">
                <i class="fa fa-list"></i>
                <span>See More</span>
            </a>
        </li>
    </ul>
    <hr>
    <p class="footer-para">Web Developed by OVAL. &copy;Copyrights 2021. All rights reserved.</p>
</div>