{% load static %}
{% load extra %}
<div class="panel-1 text-dark">
    <h3>Profile</h3>
    <ul>
        <li>
            <a href="/profile/{{ email|encrypt_email }}/" class="text-dark">
                <div class="profile-display">
                    <div class="profile-img">
                        <div class="profile-pic-style" style="background-image: url(data:image/png;base64,{{ profile_picture }});"></div>
                    </div>
                    <b>{{ username }}</b>
                </div>
            </a>
        </li>
    </ul>
    <hr>
    <h3>Universities</h3>
    <ul>
        {% if my_uni_info %}
            <li class="my-3">
                <a href="/university_detail/{{ my_uni_info.0|encrypt_id }}/" class="text-dark">
                    <div class="profile-display">
                        <div class="profile-img">
                            <div class="profile-pic-style" style="background-image: url(data:image/png;base64,{{ my_uni_info.5 }});"></div>
                        </div>
                        <b>{{ my_uni_info.1 }}</b>
                    </div>
                </a>
            </li>
        {% endif %}

        {% if show_uni_list %}
            {% for uni_list in show_uni_list %}
                <li>
                    <a href="/university_detail/{{ uni_list.0|encrypt_id }}/" class="text-dark">
                        <i class="fa fa-university"></i>
                        <span>{{ uni_list.1 }}</span>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        <li>
            <a href="/university_list/" class="text-dark">
                <i class="fa fa-list"></i>
                <span>See all</span>
            </a>
        </li>
    </ul>
    <hr>
    <h3>Categories</h3>
    <ul>
        <li>
            <a href="#" class="text-dark">
                <i class="fa fa-newspaper"></i>
                <span>New Feed</span>
            </a>
        </li>
        <li>
            <a href="#" class="text-dark">
                <i class="fa fa-running"></i>
                <span>Activity</span>
            </a>
        </li>
        <li>
            <a href="#" class="text-dark">
                <i class="fa fa-graduation-cap"></i>
                <span>Scholar</span>
            </a>
        </li>
        <li>
            <a href="#" class="text-dark">
                <i class="fa fa-blog"></i>
                <span>Blog</span>
            </a>
        </li>
        <li>
            <a href="#" class="text-dark">
                <i class="fa fa-question"></i>
                <span>Consultant</span>
            </a>
        </li>
        <li>
            <a href="#" class="text-dark">
                <i class="fa fa-list"></i>
                <span>See More</span>
            </a>
        </li>
    </ul>
    <hr>
    <p class="footer-para">Web Developed by OVAL. &copy;Copyrights 2021. All rights reserved.</p>
</div>