{% load static %}
<div class="panel-3 text-dark">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn bg-outline-custom text-dark" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <hr>
    <h3>Advertisment</h3>
    <div class="ad">
        <a href="#">
            <div class="ad-img mb-3">
                <img src="{% static 'images/sitemgr_Native Ad 2.jpg' %}" alt="maxresdefault" class="img-fluid">
            </div>
        </a>
        <a href="#">
            <div class="ad-img mb-3">
                <img src="{% static 'images/maxresdefault.jpg' %}" alt="maxresdefault" class="img-fluid">
            </div>
        </a>
    </div>
    <hr>
<!--    <div class="consultant">-->
<!--        <h3>Consultant</h3>-->
<!--        <ul>-->
<!--            <li class="mb-3">-->
<!--                <div class="profile-img">-->
<!--                    <img src="{% static 'images/profile-1.jpg' %}" class="img-fluid" alt="profile-1">-->
<!--                </div>-->
<!--                <div class="profile-para">-->
<!--                    <span>Phyoe Htet Kyaw <br></span>-->
<!--                    <span>- CEO -</span>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="mb-3">-->
<!--                <div class="profile-img">-->
<!--                    <img src="{% static 'images/profile-1.jpg' %}" class="img-fluid" alt="profile-1">-->
<!--                </div>-->
<!--                <div class="profile-para">-->
<!--                    <span>Phyoe Htet Kyaw <br></span>-->
<!--                    <span>- Founder -</span>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="mb-3">-->
<!--                <div class="profile-img">-->
<!--                    <img src="{% static 'images/profile-1.jpg' %}" class="img-fluid" alt="profile-1">-->
<!--                </div>-->
<!--                <div class="profile-para">-->
<!--                    <span>Phyoe Htet Kyaw <br></span>-->
<!--                    <span>- Consulltant -</span>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</div>