.bg-custom{
    background: #186ba1 !important;
}

.container{
    max-width: 1300px !important;
}

a:hover{
    text-decoration: none !important;
}

.bg-custom-dark{
    background-color: #333 !important;
}

.bg-outline-custom{
    border: 1px #186ba1 solid !important;
    transition: all 0.4s ease;
    background-color: transparent;
}

.bg-outline-custom:hover{
    color: #fff !important;
}

.panel-1, .panel-2, .panel-3, .notification{
    height: 90vh;
    overflow: auto;
}

nav{
    padding: 0 !important;
    z-index: 100;
}

header{
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
}

main{
    margin-top: 4.5%;
}

.bg-outline-custom:hover{
    background-color: #186ba1 !important;
    color: #fff;
    font-weight: bold;
    border: none;
}

.panel-1 ul, .panel-2 ul, .panel-3 ul{
    padding-left: 0;
}

.panel-1 ul li, .panel-2 ul li, .panel-3 ul li{
    list-style: none;
    font-size: 1rem;
    line-height: 30px;
    cursor: pointer;
}

.panel-1 ul li a, .panel-3 ul li a{
    display: block;
    text-decoration: none;
    transition: all 0.4s ease;
}

.panel-1 ul li a:hover, .panel-3 ul li a:hover{
    color: #fff !important;
    padding: 3%;
}

.panel-2 ul li a{
    text-decoration: none;
}

.panel-1 ul li:hover, .panel-3 ul li:hover, .active{
    background-color: #186ba1;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
}

.profile-img{
    display: inline-block;
    margin-right: 3%;
    line-height: 0;
}

.profile-img img{
    width: 50px;
    border-radius: 50%;
}

.footer-para{
    font-size: 0.8rem;
}

.ad-img{
    width: 100%;
    line-height: 0;
}

.ad-img img{
    width: 100%;
    border-radius: 10px;
}

.ad{
    height: 500px;
    overflow: auto;
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #186ba1;
    border-radius: 10px;
}

.profile-para{
    display: inline-block;
}

.consultant li{
    display: flex;
    align-items: center;
}

.consultant li .profile-para span:nth-child(2){
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    top: -10px;
}

.custom-header{
    font-size: 2rem;
    font-weight: bolder;
}

.card-profile-pic{
    width: 7%;
    line-height: 0;
}

.card-profile-pic img{
    border-radius: 50%;
    width: 100%;
}

.card-profile{
    display: flex;
    justify-content: left;
    align-items: center;
}

.card-profile-fact{
    width: 90%;
    margin-left: 3%;
}

.card-like span{
    cursor: pointer;
    transition: all 0.4s ease;
}

.card-like span:hover{
    color: #186ba1;
}

.login{
    margin-top: 4.5%;
    padding: 10%;
}

.register{
    margin-top: 5%;
    padding: 5%;
}

.wallpaper{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-bottom: 10%;
}

.profile-name{
    position: absolute;
    bottom: -45px;
    left: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
}

.profile-picture{
    width: 15%;
}

.profile-picture img{
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}

.profile-picture-name{
    width: 85%;
    margin-left: 3%;
}

.profile-picture-name h3{
    text-shadow: 0 0 10px #000;
}

.uploaded-time{
    font-size: 0.7rem;
    display: block;
}

.custom-link{
    text-decoration: none;
}

.error-message{
    color: red;
}

.panel-2 .card .card-para img{
    max-width: 100% !important;
    border-radius: 5px;
}

.panel-2 .card .card-para .note-float-left, .panel-2 .card .card-para .note-float-right{
    margin: 1%;
}

.profile-image{
    margin: 0 auto;
    line-height: 0;
    width: 50%;
}

#img-preview{
    width: 100%;
    height: 150px;
    border-radius: 50%;
    background-image: url(../images/blank-profile-picture-973460_640.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.file-upload label, .profile-card label, input[type='submit']{
    display: block;
    padding: 1%;
    width: 100%;
    margin-top: 3%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    background-color: #186ba1;
    border: none;
}

.file-upload input[type='file']{
    display: none;
}